<!DOCTYPE html>
<html>
        <head>
                <title>{% block title %}{% endblock %}</title>
        </head>
        <body>
                <nav class="navtop">
                        <div>
                                <h1>MY DEV</h1>
                                <a href="{{ url_for('posts') }}">Posts Page</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                        </div>
                </nav>
                <div class="content">
                        {% block content %}{% endblock %}
                </div>
        </body>
</html>
